.card-wrapper {
  width: 70%;
  margin: 2rem auto;
}

.comments-wrapper {
  width: 90%;
  margin: 2rem auto;
}

.item-comm {
  display: flex;
  flex-direction: column;
  height: auto;
}

mat-list-item {
  height: auto !important;
  margin-bottom: 1rem;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5rem;
}

.comment-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
