@use "@angular/material" as mat;

$primary-palette: mat.define-palette(mat.$indigo-palette);
$accent-palette: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
    ),
  )
);

@include mat.core();
@include mat.all-component-themes($app-theme);

/*
  Exported variables (available to other SCSS files when using
  `@use 'styles/material-theme' as mt;` -> mt.$primary-palette, etc.)
*/
